.wrap {
    width: 90%;
    margin: 0 auto;
}
@keyframes changeBackgroundColor {
    from {
        background-color: red;
    }
    to {
        background-color: green;
    }
}

.box {
    background: red;
    background-size: cover;
    padding: 10em 5em;
    text-align: center;
    animation:changeBackgroundColor 11s infinite;
    -webkit-animation:changeBackgroundColor 11s infinite;
}