*{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    border-bottom: dotted 1px;
}

.image {
    border: 0;
}

body {
    background: #f3f6fa;
}

.button.special {
    background: #229922;
    border-color: #229922;
    color: #fff !important;
}
.button {
    border: solid 1px;
    color: inherit;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    letter-spacing: 2px;
    min-width: 18em;
    padding: 0 0.75em;
    line-height: 3.75em;
    text-align: center;
    text-decoration: none;
}


/* Containers */

.container {
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 90%;
    /* max-width: 1750px;
    min-width: 1400px; */
}
              
.image.featured {
    display: block;
    margin: 0 0 2em 0;
}

.image.featured img {
    display: block;
}


/* Header */
#header {
    background: #fff;
    color: inherit;
    font-size: 0.8em;
    padding: 1em 1.5em;
    width: 100%;
}

#header h1 {
    font-weight: 900;
    margin: 0;
}

#header h1 span {
    font-weight: 300;
}


#banner {
    color: #fff;
    text-align: center;
    padding: 6em 0;
    background-attachment: scroll, scroll, scroll, fixed;
	background-color: #645862;
	background-image: url("../images/3.jpg");
	background-position: bottom left, bottom right, top left, top center;
	background-repeat: no-repeat, no-repeat, repeat, no-repeat;
	background-size: cover;
}

#banner .inner {
    color: #fff;
    display: inline-block;
    text-align: center;
    padding: 3em;
    background: rgba(52, 27, 43, 0.5);

    
}

#banner .inner header {
    display: inline-block;
    padding: 3px 0 3px 0;
    margin: 0 0 2em 0;
    border-bottom: solid 2px;
	border-top: solid 2px;
}

#banner .inner header h2 {
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 0.2em;
    padding-left: 0.05em;
    margin: 0;
    border-bottom: solid 2px;
	border-top: solid 2px;
}

#banner .inner p {
    letter-spacing: 0.1em;
    margin: 0;
}

#banner .inner p a {
    color: inherit;
    font-weight: 400;
    text-decoration: none;
}

#banner .inner footer {
    margin: 2em 0 0 0;
}

#header nav ul li {
    display: inline-block;
    margin-left: 1.5em;
}

#header nav ul li > ul {
    display: none;
}

#header nav ul li a {
    color: inherit;
    display: inline-block;
    line-height: 1em;
    padding: 0.6em 0.75em;
    text-decoration: none;
    border: solid 1px transparent;
}

/* Wrapper */

.wrapper {
    margin-bottom: 5em;
    padding: 5em;
}

.wrapper.style1 {
    padding: 0;
}

.wrapper.style2 {
    background-color: #229922;
    background-image: url("../images/4.jpg");
    background-position: bottom left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 25em, 25em;
    color: #fff;
}

.wrapper.style2 .button.special {
    border-color: #fff;
    color: #229922;
}


#header nav ul li .button {
    font-size: 1em;
    min-width: 0;
    width: auto;
}

/* Main */

#main {
    padding: 7em 0;
}

#main {
    background-image: url("../images/2.jpg");
    /* background-position: top left, top right, bottom left, bottom right; */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7em 0;
}

body.index #main {
    padding-top: 5em;
}


/* Footer */

#footer {
    background: #E8EEF4;
    color: #7c8081;
    padding: 5em 5em 10em 5em;
    text-align: center;
}

#footer .copyright {
    font-size: 0.8em;
    line-height: 1em;
}

#footer .copyright a {
    color: inherit;
}

#footer .copyright li {
    display: inline-block;
    padding-left: 1em;
    border-left: dotted 1px;
}




p, ul, ol, dl, table, blockquote {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 300;
    line-height: 1.75em;
    margin-bottom: 1em;
    text-transform: uppercase;
}


header.special {
    margin-bottom: 5em;
    padding-top: 7em;
    text-align: center;
}

header.special h2 {
    margin-bottom: 0;
}

#order {
    color: #fff;
    padding: 5em;
    text-align: center;
    background-color: #645862;
}

#order header {
    margin-bottom: 2em;
}
