/* Containers */

.container {
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 90%;
    /* max-width: 1750px;
    min-width: 1400px; */
}
              
.image.featured {
    display: block;
    margin: 0 0 2em 0;
}

.image.featured img {
    display: block;
}


/* Header */
#header {
    background: #fff;
    color: inherit;
    font-size: 0.8em;
    padding: 1em 1.5em;
    width: 100%;
}

#header h1 {
    font-weight: 900;
    margin: 0;
}

#header h1 span {
    font-weight: 300;
}


#banner {
    color: #fff;
    text-align: center;
    padding: 6em 0;
}

#banner .inner {
    color: #f00;
    display: inline-block;
    text-align: center;
    padding: 3em;
}

#banner .inner header {
    display: inline-block;
    padding: 3px 0 3px 0;
    margin: 0 0 2em 0;
}

#banner .inner header h2 {
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 0.2em;
    padding-left: 0.05em;
    margin: 0;
}

#banner .inner p {
    letter-spacing: 0.1em;
    margin: 0;
}

#banner .inner p a {
    color: inherit;
    font-weight: 400;
    text-decoration: none;
}

#banner .inner footer {
    margin: 2em 0 0 0;
}

#header nav ul li {
    display: inline-block;
    margin-left: 1.5em;
}

#header nav ul li > ul {
    display: none;
}

#header nav ul li a {
    color: inherit;
    display: inline-block;
    line-height: 1em;
    padding: 0.6em 0.75em;
    text-decoration: none;
}

/* Wrapper */

.wrapper {
    margin-bottom: 5em;
    padding: 5em;
}

.wrapper.style1 {
    padding: 0;
}

#header nav ul li .button {
    font-size: 1em;
    min-width: 0;
    width: auto;
}

/* Main */

#main {
    padding: 7em 0;
}

body.index #main {
    padding-top: 5em;
}


/* Footer */

#footer {
    background: #E8EEF4;
    color: #7c8081;
    padding: 5em 5em 10em 5em;
    text-align: center;
}

#footer .copyright {
    font-size: 0.8em;
    line-height: 1em;
}

#footer .copyright a {
    color: inherit;
}

#footer .copyright li {
    display: inline-block;
    padding-left: 1em;
}




p, ul, ol, dl, table, blockquote {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 300;
    line-height: 1.75em;
    margin-bottom: 1em;
    text-transform: uppercase;
}


header.special {
    margin-bottom: 5em;
    padding-top: 7em;
    text-align: center;
}

header.special h2 {
    margin-bottom: 0;
}

#order {
    color: #00f;
    padding: 5em;
    text-align: center;
}

#order header {
    margin-bottom: 2em;
}