.image.featured {
    display: block;
}

.image.featured img {
    display: block;
}

#banner {
    color: #fff;
    text-align: center;
}


#banner .inner {
    color: #f00;
    display: inline-block;
    text-align: center;
}

#banner .inner header {
    display: inline-block;
}


#header nav ul li {
    display: inline-block;
}

#header nav ul li a {
    color: inherit;
    display: inline-block;
    line-height: 1em;
    text-decoration: none;
}

#header nav ul li > ul {
    display: none;
}

