.tabs--container {
    margin: 0 auto;
    width: 90%;
}

.tabs--content {
    background: #f1f1f1; 
    border-radius: 0 .25em .25em .25em;
    min-height: 20em; 
    position: relative;
    width: 100%;
    z-index: 5;
}

.tabs--content div {
    padding: 1.5em;
    position: absolute;
    transition: all linear 0.1s;
}

.tabs--content-1 p {
    clear: both;
    margin-bottom: 1em;
}
.tabs--content-1 p.left img {
    float: left;
    margin-right: 1em;
}
.tabs--content-1 p.last {
    margin-bottom: 0;
}

.tabs--content-2 p {
    float: left;
    width: 48.5%;
}
.tabs--content-2 p.column-right {
    margin-left: 3%;
}
.tabs--content-2 p img {
    display: block;
    margin: 0 auto 1em auto;
}
.tabs--content-3 p,
.tabs--content-3 ul {
    margin-bottom: 1em;
}
.tabs--content-3 ul {
    margin-left: 2em;
}
