.megamenu {
    width: 100%;
}

.megamenu > ul {
    height: 100%;
    position: relative;
}
  
.megamenu > ul > li {
    float: left;
    height: 100%;
    position: initial;
}
  
.megamenu > ul > li > nav {
    position: absolute;
    perspective: 500px;
    left: 0;
    width: 100%;
}
  
.megamenu > ul > li > a .fa {
    margin-right: 0.5em;
    color: rgba(0, 0, 0, 0.4);
}
  
  .megamenu > ul > li > a:after {
    content: '\25be';
    margin-left: 0.5em;
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    transform-origin: 50% 60% 0;
    transition: transform 0.3s 0.2s ease-in;
  }
  
.megamenu > ul > li:hover > a:after {
    transform: rotateZ(180deg);
}

.megamenu > ul > li:hover > nav > ul {
    transform: rotateX(0deg);
    transition-delay: 0.2s;
    opacity: 1;
    z-index: 1;
}
  
 
.megamenu > ul > li:nth-child(2) > a {
    border-bottom-color: #009688;
}
  
.megamenu > ul > li:nth-child(2):hover > a,
.megamenu > ul > li:nth-child(2) > nav > ul {
    background: #009688;
}

.megamenu > ul > li > nav > ul {
    color: #fff;
    position: absolute;
    left: 0;
    padding: 0px;
    width: 100%;
    height: auto;
    z-index: -2;
    transform: rotateX(-90deg);
    transform-origin: top center;
    transition: all 0.3s ease-out;
    transition-delay: 0.3s;
    transform-style: preserve-3d;
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: row;
    min-height: 300px;
    opacity: 0;
}
  
.megamenu > ul > li > nav > ul img {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, .4);
    border: 1px solid rgba(0, 0, 0, 0.5);
}
  
.megamenu > ul > li > nav > ul li.bg {
    opacity: 0.1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
  
.megamenu > ul > li > nav > ul li.bg img {
    width: 100%;
    height: 100%;
}
  
.megamenu > ul > li > nav > ul > li {
    padding: 20px;
    line-height: 1.4em;
    font-size: 13px;
    flex: 1;
    min-width: 25%;
    min-height: 0px;
}
  
.megamenu > ul > li > nav > ul > li:nth-child(even) {
    background: rgba(0, 0, 0, 0.1);
}
  
.megamenu > ul > li > nav > ul > li > h3 {
    font-weight: bold;
    line-height: 1.1em;
    font-size: 1.2em;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
  
.megamenu > ul > li > nav > ul > li > ul {
    list-style: square;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.6);
}
  
.megamenu > ul > li > nav > ul > li > ul > li > a {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5px;
    display: block;
    text-decoration: none;
}


.wrap {
    width:90%;
    margin: 0 auto;
}

#go > kbd{
    display:block;
    margin-top:1em;
}

p {
  width: 125px;
  padding: 10px 0;
  text-align: center;
  border-radius: 4px;
  transition-duration: 3s;
}

.fa {
    padding-right: 10px;
    font-weight:bold
}

.fa.fa-power-off {
    color:#FF9E3B
}
.fa.fa-refresh {
    color:#B7CCCC
}

p:nth-of-type(1) {
    background: #F06E58;
    transition-timing-function: linear;
}

p:nth-of-type(2) {
    background: #FEA45D;
    transition-timing-function: ease;
}

p:nth-of-type(3) {
    background: #FDF569;
    transition-timing-function: ease-in;
}

p:nth-of-type(4) {
    background: #B9EA7B;
    transition-timing-function: ease-out;
}

p:nth-of-type(5) {
    background: #B9ECFE;
    transition-timing-function: ease-in-out;
}

p:nth-of-type(6) {
    background: #82DDFF;
    transition-timing-function: cubic-bezier(0.6, 0.1, 0.15, 0.8);
}

#go:target p{
    transform:translateX(300px) translateY(150px)
}
